page {
  height: 100%;
}
.profily,
.profily_header {
  border-radius: 8px;
}
.center {
  height: 100%;
}
.center_top {
  height: 18%;
  background: url('http://biyoung.xichi.xyz/mybg.jpg') no-repeat;
  background-size: cover;
}
.center_top .mask {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
}
.center_box_bg {
  background: #F9F9F9;
  position: relative;
}
.center_box_bg .profily {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  top: -100upx;
  left: 5%;
  background: #FEFEFE;
  padding: 35upx;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px #EDEDED;
}
.base {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #F6F6F6;
  padding-bottom: 35upx;
  position: relative;
}
.base .profily_header {
  height: 120upx;
  width: 120upx;
  background-image: url('http://biyoung.xichi.xyz/me.jpg');
  background-size: cover;
}
.base text {
  margin-left: 20px;
  font-size: 30upx;
}
.base image {
  position: absolute;
  height: 40upx;
  width: 40upx;
  right: 0px;
  top: 0px;
}
.order_status {
  display: flex;
  justify-content: space-between;
  margin-top: 35upx;
}
.order_status .status {
  width: 140upx;
  font-size: 24upx;
  text-align: center;
  letter-spacing: .5px;
  display: flex;
  flex-direction: column;
}
.order_status .status .icon {
  width: 50upx;
  height: 50upx;
  margin: 0 auto;
  margin-bottom: 5px;
}
.baiban {
  background: #FEFEFE;
  height: 300upx;
}
.center_menu {
  width: 100%;
  display: inline-block;
}
.center_menu .menu_item {
  font-size: 28upx;
  letter-spacing: 1px;
  padding: 14px 5%;
  background: #FEFEFE;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #EFEFEF;
}
.center_menu .menu_item:hover {
  background: #F6F6F6 !important;
}
.center_menu .menu_item::after {
  content: '';
  width: 30upx;
  height: 30upx;
  position: absolute;
  right: 5%;
  background: url('../../static/fumou-center-template/right.png') no-repeat;
  background-size: 100%;
}
.center_menu .menu_item text:nth-of-type(1) {
  margin-left: 10px;
}
.center_menu .menu_item image {
  width: 40upx;
  height: 40upx;
}
.center_menu .menu_item:nth-of-type(4) {
  margin-top: 10px;
}
